<div class="col-12 col-md-8 col-lg-6 mx-auto">
  <form id="login-form">
      <div class="mb-3">
          <label for="login" class="form-label">Felhasználó név</label>
          <input type="text" class="form-control" id="login">
      </div>
      <div class="mb-3">
          <label for="password" class="form-label">Jelszó</label>
          <input type="password" class="form-control" id="password">
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-primary">Bejelentkezés</button>
      </div>
  </form>
  <p class="text-danger text-center" id="error-message"></p>
</div>
